/*DOM*/

html, body {
	padding: 0;
	margin: 0;
	height:100vh;
	width:100vw;
}

body {
    display: -webkit-box;
	overflow: hidden;

}
p {

}
input[type="text"]{
	border: 0px solid;
	outline-style: none;
	text-indent: 5px;
}
label {
	font-weight: 400;
}
hr {
	border-color:rgba(80,80,80,0.4);
	width:99%;
}

h1 {
	text-indent: 12px;
    cursor: default;
	font-size:100%;
}

table {
	width:92vw;
	height:auto;
	display: flex;

}

td {
	word-wrap: break-word;
	align-content: center;
}

button {
    outline-style: transparent;
    cursor: pointer;
}
form {
	

}
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
/*CLASS*/
.tCell {
    position: fixed;
    display: grid;
    width: 5vw;
    top:-100vh;
    left:-10vw;
}

.tCell_full {
    position: fixed;
    display: grid;
    width: 8vw;
    top:0vh;
    left:0vw;
}

.tCell_full button {
    margin: 0 0 5px 0;
    width:8vw;
    height: 8vw;
    border:initial;
    outline-style: none;
}

.tCell_full button:disabled {
    background-color: rgba(0,0,0,0.6);
    opacity: .6;
    border:none;
    outline-style: none;
}

.pages {
	position: absolute;
	background-color: white;
	height: 100vh;
	width: 92vw;
	top:150vh;
	left:8vw;
	bottom:0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;

}

.pages_full {
	position: absolute;
	background-color: white;
	height: 100vh;
	width: 92vw;
	top:0;
	left:8vw;
	display: flow-root;
	bottom:0;
    opacity: 1;
    
}
.tableHolder {
	display: flex;
	height: 77vh;
}
.trs {
    display: inline-table;
    width: -webkit-fill-available;
    height: -webkit-fill-available;

}
.tds {
	position: static;
	background: rgb(150,150,150);
	height:10vh; 
	width: inherit;
	top:0;
	left: 0;
	display: table-row;
	cursor: pointer;
	padding:0px;
	box-shadow: 0 0 1px inset black;

}
.dBtn {
	position: relative;
	top:-25px;
	right: 0px;
	display: block;
	outline-style: none;
    background-color:transparent;  
	opacity: 1 !important;
	z-index: 1;
    border: none;
    float: right;  
}
.tds_full {
	position: fixed;
	background: rgb(150,150,150);
	height: 100vh;
	width: 100vw;
	top:0;
	left: 0;
	cursor: default;

	opacity: 1;
	z-index: 1;
	display: inherit;
	padding:0vh 0vw;
	box-shadow: 0 0 10px inset black;
}
.tds_full form {
    display: flex;
    flex-direction: column;
	width: inherit;
	height: inherit;
}
.tds_locked {
	position: static;
	background: rgb(50,50,50);
	height:10vh; 
	width: inherit;
	top:0;
	left: 0;
	display: table-row;
	cursor: pointer;
	opacity: .8;
	z-index: 1;
	padding:0px;
	box-shadow: 0 0 1px inset black;
}
.tds p {
	background-color: #fff;
	margin:2px 1px;
	display: block;
	padding: 3px 8px;
	min-height: 20px;
	font-size:1rem;
	max-height: 20px;
	overflow-y: auto;

}
.tds_full span {
	margin:2px 5px;
	padding: 2px 5px;
	min-height: 20px;
	font-size:1rem;
	max-height: 20px;
	overflow-y: auto;
}
.xOut {
   color:red;
   position: fixed;
   right:0;
   cursor: pointer;
   top: 2px;
   line-height: 50px;
   display: -webkit-box;
   width: 10vw;
   text-indent: 3vw;
}
.input1 {
	width: 90vw;
    line-height: 42px;
    margin-top: 6px;

}
.hazardHolder, .brightsideHolder {
    width: -webkit-fill-available;
    height: inherit;
    margin: 20px 50px;
    display: inherit;
    flex:2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.hazOuts,.brOuts {
    flex: 1;
	width: 1%;
}
.hazIns,.brIns {
	flex: 3;
	width: 15%;
}
.hazLabels,.brLabels {
	width: 60%;
	font-size:100%;
	overflow:auto;
	padding: 5px;
	word-wrap: break-word;
}
.hazFolders,.brFolders {
	width: 100%;
	display: inline-flex;
    height: auto;
	flex:1;
	height: fit-content;
	margin: 1px 0;
}
/*ID*/

/*MULTI*/
.hazIns,.hazOuts,.hazLabels,.brIns,.brOuts,.brLabels {
    height: auto;
    display: inline-grid;
    background-color: rgba(255,255,255,.9);
}

form {
	text-align: left;
}
.tableHolder ,table {
	box-shadow: 0 0 1px green inset,0 0 2px black inset;
}

.tCell,.tCell_full, .pages, .pages_full{
	transition: 100ms all ease-in-out;
}
{
	box-shadow: 0 0 .1px inset black,0 0 .1px inset black;
    height: 35px;

}