/*DOM*/

html, body {
	padding: 0;
	margin: 0;
	height:100vh;
	width:100vw;
}

body {
	background-color: #D3FBDE;
    display: -webkit-box;
	overflow: hidden;
}
p {
	background-color: #fff;
	margin:0;
	display: block;
}
input[type="text"]{
	height: 30px;
	border: 0px solid;
	outline-style: none;
}
label {
	font-weight: 800;
	line-height: 36px;
	display: -webkit-inline-box;
	margin-right: 10px;
}
hr {
	border-color:rgba(80,80,80,0.4);
	width:99%;
}

h1 {
	text-indent: 12px;
    cursor: default;
	font-size:100%;
}

table {
	width:92vw;
	height:80vh;
	display: inline-flex;
	padding-left: -5px;

}

td {
word-wrap: break-word;
align-content: center;
}

button {
    line-height: 4.52vh;
    width:4.52vh;
    outline-style: transparent;
    cursor: pointer;
}
form {
	display: inherit;
	width: inherit;

}
/*CLASS*/
.tCell {
    position: fixed;
    display: grid;
    width: 5vw;
    top:-100vh;
    left:-10vw;
}

.tCell_full {
    position: fixed;
    display: grid;
    width: 8vw;
    top:0vh;
    left:0vw;
}

.tCell_full button {
    margin: 0 0 10px 0;
    width:8vw;
    height: 8vw;
    border:initial;
    outline-style: none;
}

.tCell_full button:disabled {
    background-color: rgba(0,0,0,0.6);
    opacity: .6;
    border:none;
    outline-style: none;

}

.pages {
	position: absolute;
	background-color: white;
	height: 100vh;
	width: 92vw;
	top:150vh;
	left:8vw;
	bottom:0;
    opacity: 0;
}

.pages_full {
	position: absolute;
	background-color: white;
	height: 100vh;
	width: 92vw;
	top:0;
	left:8vw;
	bottom:0;
    opacity: 1;

}
.tableHolder {

}
.trs {
    display: inline-table;
    width:91vw;

}
.tds {
	position: static;
	height:14vh; 
	width: 14.8vw;
	top:0;
	left: 0;
	display: inline-table;
	cursor: pointer;
}
.tds_full {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top:0;
	left: 0;
	cursor: default;
	display: -webkit-box;
}
.xOut {
   color:red;
   position: fixed;
   right:5px;
   cursor: pointer;
   top: 0;
   line-height: 50px;
   display: -webkit-box;
   width: 60px;
}
.input1 {
	width: 60vw;
}
/*ID*/

/*MULTI*/
{
    
}
form {
	text-align: left;
}
tr, td,.pages_full, .pages {
	box-shadow: 0 0 1px green inset,0 0 2px black inset;
}

.tCell,.tCell_full, .pages, .pages_full{
	transition: 100ms all ease-in-out;
}